* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #050505;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    font-size: 50px;
    background-color: #414141;
    border: 5px solid #FFCB05;
    filter: drop-shadow(0 0 7px #FFCB05);
    color: #e2e2e2;
    padding: 10px;
    letter-spacing: 5px;
    border-radius: 25px;
  }
  
  /* Styles for Pokemon cards created in JS file */
  
  #container {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    filter: drop-shadow(0 0 5px #FFCB05);
  }
  
  .pokemon {
    background-color: #303030;
    width: 175px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #FFCB05;
    border-radius: 20px;
  }
  
  .img-container {
    background-color: #5d5d5d;
    width: 120px;
    height: 120px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
  }
  
  .name {
    color: #e2e2e2;
    margin-bottom: 0;
  }